.comp{
  margin: 20px;
}
.App {
  border-radius: 12px; 
  padding: 20px;
  text-align: left;
  background-color: white;
  margin: 30px;
}
.page1{
  font-family: Lato;
  font-weight: regular;
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  letter-spacing: 0px;
}
#time{
  margin-bottom: 20px;
}
#nav1{
  margin-left: 30px;
  font-family: lato;
  font-weight: regular;
  font-size: 24px;
  color: #92D1FF;
  line-height: 28px;
  letter-spacing: 0px;
}
#nav2{
  font-family: lato;
  font-weight: regular;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
  letter-spacing: 0px;
}
#lb1{
  margin-bottom: 40px;
  color: #606060;
  font-family: Lato;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0px;
  
}
#pg1bt1{
  float: right;
  font-size: 20px;
  opacity: 50%;
}
#pg1bt2{
  border-radius: 5px; 
  font-family: lato;
  font-weight: bold;
  font-size: 14px;
  background-color: #f58e3a;
  color: #FFFFFF;
  float: right;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
